<f:layout name="Backend"/>

<f:section name="Content">
    <f:render partial="FlashMessages"/>

    <form action="{formAction}" method="POST">
        <f:form.hidden name="doSomething" value="1"/>
        <p>
            Load data from tt_content table (max. 30 items)?
        </p>
        <f:form.button class="btn btn-default btn-sm">
            Load now
        </f:form.button>
    </form>
	
	<f:if condition="{contentElements}">
		<table>
			<th>
				<td>Uid</td>
				<td>Pid</td>
				<td>Timestamp</td>
				<td>Creation date</td>
				<td>CType</td>
				<td>Header</td>
			</th>
		<f:for each="{contentElements}" as="contentElement">
			<tr>
				<td>{contentElement.uid}</td>
				<td>{contentElement.pid}</td>
				<td>{contentElement.tstamp}</td>
				<td>{contentElement.crdate}</td>
				<td>{contentElement.CType}</td>
				<td>{contentElement.header}</td>
			</tr>
		</f:for>
		</table>
	</f:if>
</f:section>
