<f:layout name="Backend"/>

<f:section name="Content">
    <f:render partial="FlashMessages" />

    <form action="{formAction}" method="POST">
        <f:form.hidden name="doSomething" value="1"/>
        <p>
            Load data from tt_content table?
        </p>
        <f:form.button class="btn btn-default btn-sm">
            Load now
        </f:form.button>
    </form>
	
	<f:if condition="{contentElements}">
		<hr />
		<table class="table table-striped">
			<tr>
				<th>Uid</th>
				<th>Pid</th>
				<th>Timestamp</th>
				<th>Creation date</th>
				<th>CType</th>
				<th>Header</th>
			</tr>
			<f:for each="{contentElements}" as="contentElement">
			<tr>
				<td>{contentElement.uid}</td>
				<td>{contentElement.pid}</td>
				<td><f:format.date date="{contentElement.tstamp}" format="d.m.Y" /></td>
				<td><f:format.date date="{contentElement.crdate}" format="d.m.Y" /></td>
				<td>{contentElement.CType}</td>
				<td>{contentElement.header}</td>
			</tr>
			</f:for>
		</table>
	</f:if>
</f:section>
